* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(#2274d1));
  background: linear-gradient(360deg, #e6e6e6 0%, #2274d1 100%);
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section form {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%;
}

body section form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body section form .input-container input {
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid #ff8819;
  font-size: 1rem;
  margin-bottom: 0.5em;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  color: #e6e6e6;
}

body section form .input-container input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

body section form .input-container input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

body section form .input-container input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

body section form .input-container input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

body section form .input-container button {
  background-color: #ff8819;
  border: none;
  color: white;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 1rem;
}

body section .weather-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
}

body section .weather-container header h2 {
  font-size: 2rem;
  padding: 1rem 0rem 1rem 0rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

body section .weather-container .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0rem 1rem;
  margin-bottom: 2rem;
  padding: 2rem 0rem 2rem 0rem;
}

body section .weather-container .container .icongrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

body section .weather-container .container .icongrid img {
  width: 100px;
  height: 100px;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

body section .weather-container .container .icongrid p {
  text-transform: uppercase;
}

body section .weather-container .container .tempgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

body section .weather-container .container .tempgrid #temp {
  font-size: 3rem;
  font-weight: bold;
}

body section .weather-container .container .tempgrid #feels {
  text-align: center;
  text-transform: uppercase;
}

body section .weather-container .suntimesdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  padding: 1rem 0rem 1rem 0rem;
}

body section .weather-container .suntimesdiv div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1rem;
}

body section .weather-container .suntimesdiv img {
  vertical-align: middle;
}

body section .weather-container .suntimesdiv p {
  vertical-align: middle;
  padding: 0.5rem 0rem 0.5rem 0.3rem;
}
/*# sourceMappingURL=styles.css.map */