* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(#2274d1));
  background: linear-gradient(360deg, #e6e6e6 0%, #2274d1 100%);
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section form {
  width: 80%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

body section form .input-container input {
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid #ff8819;
  font-size: 1rem;
  margin-bottom: 0.5em;
  width: 80%;
  color: #e6e6e6;
}

body section form .input-container input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

body section form .input-container input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

body section form .input-container input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

body section form .input-container input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

body section form .input-container button {
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.1em;
  padding: 0.5rem;
  border-radius: 5px;
  background: #ff8819;
  color: white;
  border: 1px solid white;
  width: 80%;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

body section form .input-container button:hover {
  background: #ff8819;
}

body section .weather-container {
  height: 70vh;
  width: 80%;
}

body section .weather-container #icon {
  border: none;
  width: 150px;
  height: 150px;
}

body section .weather-container header h2 {
  font-size: 1.5em;
  padding: 1em 0em 1em 0em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

body section .weather-container p {
  border: none;
}

body section .weather-container #wtype {
  text-transform: uppercase;
}

body section .weather-container #temp {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.06em;
  margin-bottom: 0.5em;
}

body section .weather-container #feels {
  margin-bottom: 2em;
}

body section .weather-container .suntimesdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid yellow;
}

body section .weather-container .suntimesdiv div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem;
  height: 100%;
}

body section .weather-container .suntimesdiv img {
  vertical-align: middle;
  margin-right: 10px;
}

body section .weather-container .suntimesdiv p {
  vertical-align: middle;
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */