* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

$background: #e6e6e6;
$maincolor: #2274d1;
$accentcolor: #ff8819;
$gradient: linear-gradient(360deg, rgba(230,230,230,1) 0%, rgba(34,116,209,1) 100%);



body {
    background: $gradient;
    text-align: center;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    section {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        form {
            width: 80%;
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .input-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;

                input {
                    border: none;
                    background: none;
                    outline: none;
                    border-bottom: 2px solid $accentcolor;
                    font-size: 1rem;
                    margin-bottom: 0.5em;
                    width: 80%;
                    color: $background;
                    &::placeholder {
                        color: rgba(255, 255, 255, 0.75);
                    }
                }
                button {
                    cursor: pointer;
                    font-size: 1rem;
                    letter-spacing: 0.1em;
                    padding: 0.5rem;
                    border-radius: 5px;
                    background: $accentcolor;
                    color: white;
                    border: 1px solid white;
                    width: 80%;
                    transition: background 0.3s ease-in-out;
                    &:hover {
                        background: $accentcolor;
                    }
                }
            }    
        }

        .weather-container {
            height: 70vh;
            width: 80%;

            #icon {
                border: none;
                width: 150px;
                height: 150px;
            }
            header {
                h2 {
                    font-size: 1.5em;
                    padding: 1em 0em 1em 0em;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;
                }
            }
            p {
                border: none;
            }
            #wtype {
                text-transform: uppercase;
            }
            #temp {
                font-size: 25px;
                font-weight: bold;
                letter-spacing: 0.06em;
                margin-bottom: 0.5em;
            }
            #feels {
                margin-bottom: 2em;
            }
            .suntimesdiv {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border: 1px solid yellow;

                div {
                    display: flex;
                    flex-direction: row;
                    padding: 0.5rem;
                    height: 100%;
                }

                img {
                    vertical-align: middle;
                    margin-right: 10px;
                }

                p {
                    vertical-align: middle;
                    height: 100%;
                }
            }
        }
    }
}
